@import '~bootstrap/scss/bootstrap';
@import 'colors';

a {
  color: black;
  text-decoration: none;
}

body {
  min-height: 100vh;
}

a :hover {
  text-decoration: none;
  color: deeppink;
}

h1 {
  font-weight: bold;
  font-size: 6rem;
  @media (min-width: 765px) {
    font-size: 9rem;
  }
}

h3 {
  margin: 0.5rem auto;
  font-familY: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.flexible-object {
  position: absolute;
  // top: 0;
  // left: 0;
  width: 100%;
  height: 100%;
}

.flexible-container {
  position: relative;
  min-width: 80%;
  padding-bottom: 100%;
}

header {
  padding-top: 6rem;
  text-align: center;
}

section {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  margin-bottom: 1rem;
}

svg {
  max-height: 100px;
  min-height: 100px;
  max-width: 100px;
  padding: 1rem;
  margin: 0.5rem auto;
}

.about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  @media(min-width: 705) {
    max-width: 60%;
    text-align: justify;
  }
}

.about-me-box {
  font-size: 1.25rem;
  font-weight: 350;
  padding: 1rem;
  max-width: 80%;
  @media(min-width: 705) {
    max-width: 50%;
    margin: 0 auto;
  }
}
// .orient-fix {
//   transform: rotate(90deg);
// }

.black-bg {
  background-color: #000;
}

.flavor-text {
  @media (min-width: 600px) {
width: 245px;
  }
}

.contact {
  justify-content: space-around;
  color: white;
  background-color: black;
  align-items: center;
  padding: 0.25rem;
}

.project {
  letter-spacing: 0.1rem;
  margin: 1rem auto;
   margin-bottom: 2rem;
  flex-direction: column;
  align-items: center;
  color: white;
  display:flex;
  justify-content: center;
  max-width: 80%;
  @media (min-width: 765px) {
    max-width: 60%
  }
}

.project-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.project-text {
  display: flex;
  flex-direction:column;
  text-align: left;
}

.contact :link:hover {
  text-decoration: none;
  color: deeppink;
}

.art-backsplash {
  background-image: url("public/art-backsplash.jpg");
  background-size: cover;
  background-position: center;
  border-bottom: 2px black solid;
}

.about-me-backsplash {
  background-image: url("public/misc/self-portrait-1-crop.jpg");
  background-size: cover;
  background-position: center;
  border-bottom: 2px black solid;
  border-bottom: 2px black solid;
}

.work-backsplash {
  background-image: url("public/glitch-images/DSC_0416.jpg");
  background-size: cover;
  background-position: right;
  border-bottom: 2px black solid;
}

.skills-backsplash {
  background-image: url("public/skills-backsplash.jpg");
  background-size: cover;
  background-position: bottom;
  border-bottom: 2px black solid;
}

.resume-backsplash {
  background-image: url("public/resume-backsplash.jpg");
  background-size: cover;
  background-position: center;
  border-bottom: 2px black solid;
}

.footer {
  border-top: 1px solid white;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: right;
}

.carousel-inner {
  margin: 2rem auto 3rem;
  @media (min-width: 500px) {
    max-width: 80%;
  }
}

.carousel-image {
  object-fit: scale-down;
  max-height: 80vh;
  margin: 0 auto;
}

.navbar {
  margin: 0 auto;
  padding-top: 5rem;
  flex-direction: column;
  @media (min-width: 705px) {
    flex-direction: row;
    max-width: 950px;
  }
  @media (max-width:500px) {
    padding-bottom: 2rem;
  }
}

.subhead {
  flex-direction: column;
  align-items: center;
  @media (min-width: 600px) {
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 6rem;
  }
}

.clearBG {
  background-color: rgba(0, 0, 0, 0);
}

.carousel-item {
  text-align: center;
  color: white;
}

.resume {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}

.resume a {
  color: white;
}

.nav-link:hover {
  text-decoration: none;
  color: deeppink;
}

.mario-verde-image {
    background-image: url('public/mario-verde.png');
    min-height: 200px;
    min-width: 200px;
    background-position:center;
    background-size:cover;
    padding: 1rem;
    margin: 2rem;
    border-radius: 0.5rem;
}
.splattr-image {
  background-image: url('public/splattr.png');
  min-height: 200px;
  min-width: 200px;
  background-position:center;
  background-size:cover;
  padding: 1rem;
  margin: 2rem;
  border-radius: 0.5rem;
}
.letterbox-image {
  background-image: url('public/letterbox.png');
  min-height: 200px;
  min-width: 200px;
  background-position:center;
  background-size:cover;
  padding: 1rem;
  margin: 2rem;
  border-radius: 0.5rem;
}
.link-border {
  display:flex;
  font-family: sans-serif;
  text-decoration: underline;
  height: 3rem;
  align-items:center;
  justify-content:center;
}
.link-border :hover {
  color: deeppink;
}
.tic-tac-image {
  background-image: url('public/tic-tac.png');
  min-height: 200px;
  min-width: 200px;
  background-position:center;
  background-size:cover;
  padding: 1rem;
  margin: 2rem;
  border-radius: 0.5rem;
}
.mario-verde {
margin-bottom: 2rem;
}

.square {
  text-align: center;
  align-items: center;
  padding: 0.5rem 1rem;
}

.skill {
  flex: 1 0 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 140px;
  min-height: 140px;
  text-align: center;
}

.bold {
  font-weight: bold;
}

.react{
  fill:white;
}

.skills {
  color: white;
  background-color: black;
  font-weight: bold;
  margin: 0 auto;
  padding-bottom: 3rem;
}

.visit{
  text-align:center;
}

.whiteText {
  transition: color .5s ease-in-out;
  color: white;
}

.white {
  border: 2px solid white;
  max-width: 60%;
}

.top-content {
  transition: background-image .5s ease;
  background-color: white;
}
