@import '~bootstrap/scss/bootstrap';
@import 'colors';

a {
  color: black;
  text-decoration: none;
}

body {
  min-height:100vh;
}

a:hover {
  text-decoration: none;
  color: deeppink;
}

h1 {
  font-weight: bold;
  font-size: 6rem;
  @media (min-width: 765px) {
    font-size: 9rem;
  }
}
embed {
width: 80%;
min-height: 1150px;
  overflow:hidden;
  padding:0;
  margin: 1rem auto;
}

html {
  font-family: 'Poppins', sans-serif;
}

header {
  padding-top: 6rem;
  text-align: center;
}

section {
  font-family: Raleway, sans-serif;
  font-weight: 300;
}

svg {
  max-height: 100px;
  min-height: 100px;
  padding: 1rem;
  margin: 0.5rem;
}

.about-me {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:black;
  color:white;
  @media(min-width: 705) {
    max-width: 80%;
    text-align: justify;
  }
}

.about-me-box {
  font-size:1.25rem;
  font-weight: 350;
  padding: 1rem;
  max-width: 80%;
  @media(min-width:705) {
    max-width: 55%;
  }
}


.black-bg {
  background-color: #000;
}

.contact {
  justify-content: space-around;
  color: white;
  background-color: black;
  align-items: center;
  padding: 0.25rem;
}

.footer {
  border-top: 1px solid white;
}
.carousel {
  display: flex;
  justify-content:center;
  align-items:center;
}

.carousel-inner {
  margin: 2rem;
  margin-bottom: 3rem;
@media (min-width: 500px) {
  max-width: 80%;
  max-height: 80vh;
}
}

.carousel-image {
object-fit: scale-down !important;
object-position: center;
}

.navbar {
  margin: 0 auto;
  padding-top: 5rem;
  flex-direction: column;
  @media (min-width: 705px) {
    flex-direction: row;
    max-width: 950px;
  }
  @media (max-width:500px) {
    padding-bottom: 2rem;
  }
}

.subhead {
  flex-direction: column;
  align-items: center;
  @media (min-width: 600px) {
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 6rem;
  }
}

.carousel-item {
  text-align: center;
  color:white;
}

.resume{
  display: flex;
  flex-direction:column;
  justify-content:center;
  align-items: center;
  background-color:black;
}
.resume a {
  color:white;
}
.square {
  text-align: center;
  align-items: center;
  padding: .5rem 1rem;
}

.skill {
  flex: 1 0 15%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 140px;
  min-height: 140px;
  text-align: center;
}

.skills {
  color: white;
  background-color: black;
  font-weight: bold;
  margin: 0 auto;
  padding-bottom: 3rem;
}

.top-content {
  background-color:white;
}
